@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



@font-face {
  font-family: openSansExtraBold; /* Имя шрифта */
  src: url(../fonts/openSansExtraBold.ttf); /* Путь к файлу со шрифтом */
}

* {
  --brand-color: #ff4400;
}

.printbox-mini-container {
  display: flex;
  align-items: center;
}

.uniq-tech-col-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.uniq-tech-col-right .col-sm-6 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.btn-info {
  background-color: white !important;
  color: #403c3c !important;
  border: #828bf8 1px solid;
}

.wow { visibility: hidden; }

#contact {
  padding: 50px 0 0;
}

footer {
  background: white!important;
  text-align: center;
}

footer > .container {
  color: #403c3c;
}

.btn-primary {
  background-color: #838bf1 !important;
}

.btn {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}


#logo {
  font-family: 'Lobster';
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  font-size: 60px;
  color: white;
}

#mainNav .navbar-brand {
  font-family: 'Lobster' !important;
  letter-spacing: 0;

}

#js-printbox {
  color: var(--brand-color)
}

.navbar-light .navbar-nav .nav-link {
  color: #403c3c;
}

#mainNav .navbar-nav>li>a {
  font-size: .75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar {
  background-color: white;
}

.navbar a {
  text-decoration: none !important;
}



#form {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.btn-success {
  background-color: inherit;
}

input {
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  outline: none;
  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #ecedf5;
}

textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  outline: none;

  color: #726659;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #ecedf5;
}

#submit {
  width: 100%;
  padding: 0;
  outline: none;
  cursor: pointer;
  border-top: none;
}

#about-machine {
  background: url(../img/background-2.svg) 100% no-repeat;
  background-color: url('../img/background-2.svg');
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: inherit;
  padding-left: .75rem;
}

ul.spec-det {
  padding-left: 0;
}

ol {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: circle;
  padding-left: 19px;

}
#box-scheme div {
  line-height: 16px;
  font-size: 13px;
  text-align: -webkit-auto;
}

#box-scheme div h5 {
  font-size: 16px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
#box-scheme div h4 {
  margin: 0 0 27px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

#form-calculate input, #university-form-calculate input {
  border: solid 1px #b3aca7;
  color: black;
  border-radius: .125rem;
}
#form-calculate label {
  margin-bottom: .2rem;
}
#submit-calculate {
  margin: 1rem 0 0 0;
}
#submit-calculate:hover, #submit-calculate:focus {
  background-color: #67ad67;
}

/* Loading*/
.layer-preloader {
  position: fixed;
  width: 100%;
  height: 102%;
  background: rgba(255, 255, 255, 0.85);
  top: 0;
  left: 0;
  z-index: 999;
}
.loading {
  position: relative;
  display: block;
  height: 107%;
}
.loading .loader {
  position: absolute;
  display: block;
  left: calc(50% - 73px);
  top: calc(50% - 73px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid transparent;
  animation: loading 2s;
  -webkit-animation: loading 2s;
  position: absolute;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading .loader.firstColor {
  border-top-color: #272e44;
}
.loading .loader.secondColor {
  border-top-color: #ff4400;
  left: 7px;
  width: 127px;
  height: 127px;
  top: 7px;
}
.loading .loader.thirdColor {
  border-top-color: #c9c9c9;
  left: 8px;
  width: 103px;
  height: 103px;
  top: 8px;
}
@-webkit-keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ENDA Loading */

.cursive {
  font-style: italic;
}
.container-more, .card-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container-more .more, .col-card{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}


#parallax-world-of-ugg .container-more .card-body {
  padding: 0 1.25rem;
}
.container-more .card-text {
  text-align: left;
}

.card-title {
  font-weight: 600 !important;
}

.more h3 {
  text-align: initial;
}

.carousel-item img {
  width: auto;
  height: 500px;
}


/*----------------------------------------------
    TOGGLE START
----------------------------------------------*/
.btn-toggle {
  display: inline-block;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  margin: 10px -1px;
  width: -webkit-fill-available;
  box-shadow: none;
  border-radius: .125rem;
}
.no-selected-toggle {
  background: #403c3c;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
.container-toggle {
  display: flex;
}
.selected-toggle {
  cursor: default;
  color: #fff !important;
  transition: color 200ms;
  background-color: #828bf8 !important;
}

#toggle-on-1, #toggle-on-2 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#toggle-off-1, #toggle-off-2 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*----------------------------------------------
    TOGGLE END
----------------------------------------------*/
.btn-toggle-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  color: #403c3c;
  font-weight: bold !important;
  letter-spacing: 0.05rem;

}


body {
  font-family: 'Montserrat', sans-serif !important;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif;
}

/* RETURN TO TOP */
#return-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(123, 67, 151, .7);
  background: -webkit-linear-gradient(to left,rgba(123, 67, 151, .7),rgba(174, 54, 99, .7));
  background: linear-gradient(to left,rgba(123, 67, 151, .7),rgba(174, 54, 99, .7));
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 100;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 7px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(123, 67, 151, 1);
  background: -webkit-linear-gradient(to left,rgba(123, 67, 151, .7),rgba(174, 54, 99, 1));
  background: linear-gradient(to left,rgba(123, 67, 151, 1),rgba(174, 54, 99, 1));
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
/* END RETURN TO TOP */


.form-section {
  background-color: #f9f9f9;
}


.line-break {
  padding-top: 2px;
  border-bottom: black 1px solid;
}

.card .card-body .card-text {
  color: #3e3a3a !important;
}

a {
  text-decoration: underline;
}
#box {
  width: 80%;
}
#gif-description-hidden {
  display: none;
}

@media (max-width: 1200px) {
  #about {
    margin-top: 50px;
  }
  #box {
    width: 100%;
  }
}
@media (max-width: 755px) {
  #about-machine {
    background: none;
  }
  #box-scheme>div>div>div{
    margin: 0 18px;
  }
}

@media (max-width: 990px) and (min-width: 770px) {
  #gif {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  #gif-description {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  #gif-description-card-container div:nth-of-type(1){
    min-width: 100%;
  }
  #gif-description-card-container>div:nth-of-type(2){
    display: none;
  }
  #gif-description-hidden {
    display: flex;
  }
  #map-end, .place-end-1{
    display: none !important;
  }
  #map-img-end,   .place-end-2{
    display: block !important;
  }
}


h1 {
  font-size: 4rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3rem;
  color: #544d4d;
}

a.btn-primary {
  width: fit-content;
}

button.btn-primary {
  width: fit-content;
}

#phone>span {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: lighter;
  color: #222222;
  padding-left: 0.5rem;
  font-size: .85rem;
  letter-spacing: 2px;
}

ul.list-checked li:before {
  font-family: 'fontawesome';
  content: "\f00c";
  margin-right: 8px;
  font-size: 22px;
  font-weight: 900;
  color: #00c851;
}

li {
  list-style-type: none;
}

/* footer */
/* REMOVE THIS, USE YOUR OWN  */
.dummy_page {
  height: 200px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
}
.footer .col {
  width: 220px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #403c3c;
  text-transform: uppercase;
  letter-spacing: 0.250em;
  font-weight: 100 !important;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul a {
  color: #403c3c;
  font-size: 14px;
  font-family: inherit;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  text-decoration: none;
  display: block;
}
.social ul a {
  display: inline-block;
  padding-right: 5px !important;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
/* end footer */

.a2a_svg {
  margin: 0 3px;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  background-color: inherit !important;
}

@media only screen and (max-width: 770px) and (min-width: 390px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

}

@media only screen and (max-width: 390px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 370px) {
  #form {
    display: block;
  }
}

@media only screen and (max-width: 350px) {
  #form-end {
    display: initial;
  }
  #form-end span {
    white-space: normal !important;
  }
  #form-end h4, #form-end h5 {
    font-size: 1rem;
  }
}

img {
  width: inherit;
}

#mockup {
  background: url(../img/background-2.svg);
  background-size: 147%;
  background-position-x: left;"
}

#box-inside {
  background-color: #fdfdfd;
}